body{
  background-color: aliceblue;
}
img{
  object-fit:contain;
  width: 70px;
  height: 250px;
}
.card{
  margin: 10px;
  border-radius: 15px;
  box-shadow: -1px 0 20px rgba(0, 0, 0, 0.3)  ; 
 
}
.d-flex{
  flex-wrap: wrap;
  justify-content: space-evenly;
}
h2{
  text-align:center;
  text-transform: capitalize;
  margin:15px;
  color: rgb(184, 133, 38);
}
h5{
  text-align:center;
}
.buy{
  margin-left: 70px;
}
.total{
  background-color: rgb(8, 184, 8);
}